.ickisim{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1000vh;
}

.banner{
    background-color: rgb(63, 196, 118);
    height: 60px;
    
}
.navbar-brand{
    color: white;
    
}
.sidebar{
    background-color: rgb(176, 177, 179);
    height: 2000px;
    margin-top: -50px;
    margin-left: -15px;
}
@media screen and (max-width:991px) {
    .sidebar{
     display: none;
    }
    
}
.ornekler a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.ornekler a:hover{
    background-color: rgb(63, 196, 118);
   
}